rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Bookings can be read by anyone, but only created, updated or deleted by authenticated users.
    match /bookings/{bookingId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }

    // Blackouts can be read by anyone, but only created or deleted by an authenticated user.
    match /blackouts/{blackoutId} {
        allow read: if true;
        allow create, delete: if request.auth != null;
    }
  }
}
